<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <style>
            .alert {
              background: green;
              padding: 1rem;
              border-radius: 5px;
              color: white;
              margin: 1rem;
              text-align: center;
            }
        </style>
        <title>Text Similarity Score Generator</title>
    </head>

    <body>
        <h1 style="text-align:center">Text Similarity Score Generator</h1>
        <!-- <h2>What is it?</h2>
        <div>
            
        {% block howtouseit %}
        <h2>How to use it?</h2>
            
        <h3>Sample 1</h3>
           
        <h3>Sample 2</h3>
            
        <h3>Sample 3</h3>
            
        </div> -->
        {% endblock %}

        <!-- <img src="../static/Images/LIDAR_KITTI_DETECTION.PNG" 
        alt="alternate description here" width=400> -->
        {% block form %}
        <div class="container">
            <form action="/send" method = "POST">
                <div class="row">
                
                    <div class="col">
                        <textarea  name = "Text1" class="form-control" id="Text1" rows="3"></textarea>
                    </div>
                
                    <div class="col">
                        <textarea name = "Text2" class="form-control" id="Text2" rows="3"></textarea>
                    </div>

                </div>
                <br>
                <div class="container bg-light">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </div>
                </div>
            </form>
        </div>
        {% endblock %}
        <br>
        {% block result %}{% endblock %}
        <!-- <div class="alert">
            <p>
                The Entered Text have the similarity score of {{ result }}
            </p>
        </div> -->
        <br>
        <br>
        <!-- <div class="container bg-light">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-warning">Cancel</button>
            </div>
        </div> -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    </body>
</html>